
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}

h1:hover {
  text-decoration: underline;
  color: white;
  cursor: help;
}

body {
  margin-left: 40px;
  margin-right: 40px;
  background-image: url("https://i.pinimg.com/originals/b6/7f/61/b67f61a1364ea22a050d701c7bf7858f.gif");
  background-size: cover;
}

p {
  display: none;
  font-size: 18px;
}

.well {
  background-color: #76a8f7;
  font-size: 44px;
  width: 400px;
  height: 400px;
}

.col-sm-4 {
  width: 400px;
}
