
h1 {
  font-family: 'Cinzel', serif;
}

h1:hover {
  text-decoration: underline;
  color: white;
  cursor: help;
}

body {
  margin-left: 40px;
  margin-right: 40px;
}

p {
  display: none;
  font-size: 18px;
}

.well {
  background-color: #76a8f7;
  font-size: 44px;
  width: 400px;
  height: 400px;
}

.col-sm-4 {
  width: 400px;
}
